



<div style="text-align: center; background-image: url('../../../assets/img/paisaje.jpg'); background-size: cover;">
  <h1 class="titleOne">Selecciona Tus Archivos</h1>
    <img src="../../../assets/img/paisaje.jpg" style="position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;" />
    <input type="file" multiple accept="text/plain, text/csv" (change)="onFileSelected($event)">
    <table class="table table-striped table-bordered table-sm" style="margin: 0 auto; text-align: left; width: 60%; margin-top: 35px;">
      <thead>
        <tr>
          <th>Name</th>
          <th style="padding-left: 20px;">Size (KB)</th>
          <th>Acciones</th>
          <th>Separador</th>
          <th>Código de campana asignado</th>
          <th>Campos a Cargar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.name }}</td>
          <td style="padding-left: 20px;">{{ file.size }}</td>
          <td><button class="bi bi-trash-fill" (click)="onDeleteFile(file)" style="background-color: rgb(206, 79, 79); color: aliceblue;">Eliminar<i class="fas fa-trash"></i></button></td>
          <td>
            <div>
              <label><input type="radio" name="separator{{file.name}}" [(ngModel)]="file.selectedSeparator" value=",">Coma (,)</label><br>
              <label><input type="radio" name="separator{{file.name}}" [(ngModel)]="file.selectedSeparator" value=".">Punto (.)</label><br>
              <label><input type="radio" name="separator{{file.name}}" [(ngModel)]="file.selectedSeparator" value="%">Porcentaje (%)</label><br>
              <label><input type="radio" name="separator{{file.name}}" [(ngModel)]="file.selectedSeparator" value="otro">Otro:</label>
            </div>
            <div *ngIf="file.selectedSeparator === 'otro'">
              <input type="text" [(ngModel)]="file.customSeparator">
            </div>
          </td>
          <div>
            <input type="text" [(ngModel)]="file.codeCampaign" style="margin-top: 20px;">
          </div>
          <td>
            <label><input type="checkbox" [(ngModel)]="file.containName">Nombre</label><br>
            <label><input type="checkbox" [(ngModel)]="file.containLastName">Apellido</label><br>
            <label><input type="checkbox" [(ngModel)]="file.containPhone">Telefóno</label><br>
            <label><input type="checkbox" [(ngModel)]="file.containAddress">Dirección</label><br>  
          </td>
        </tr>
      </tbody>
    </table>

    <button
    class="btn btn-sm btn-primary" 
    style="margin-top: 10px;"
    (click)="openEditUserModal()"
>
    <i class="bi bi-check2-circle"></i>
    Cargar Archivos
</button>
</div>

  


