<div class="modal-header">
    <h1 class="modal-title fs-5">Añadir nuevo rol</h1>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    ></button>
</div>
<form [formGroup]="roleForm">
    <div class="modal-body">
        <div class="form-floating">
            <input
                type="text"
                class="form-control"
                id="roleName"
                placeholder="Administrador"
                formControlName="name"
            />
            <label for="roleName">Nombre del rol</label>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="activeModal.close()"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="createRole()"
            [disabled]="roleForm.invalid"
        >
            Crear
        </button>
    </div>
</form>
